.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #003459;
    padding: 15px 0;
}

.searchBar h1 {
    color: white;
}

.loader {
    margin-top: 100px;
}
